
* {
    box-sizing: border-box;
}

header {
    background-color:#FF9AA2;
}

h1{
font-weight: bold;
float: left;
font-size: 60px;
}

header nav {
    padding-top: 30px;
}
nav ul li  {
    padding: 40px;
    display: inline; 
}

nav ul li a {
    text-decoration: none;
    color:#70560f;
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 120px;
}
#firsth2 {
    color:#94a3df;
    background-image: url("../img/salmon.png");
    height: 400px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;

}

#firsth2 h2{
    font-size: 40px;
    text-align: center;
    line-height: 1px;
}

#secdh2{
    font-size: 40px;
    text-align: center;
    line-height: 60px;
}

main p{
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
}

footer { 
text-align: center;
background-color:  #B5EAD7;
}

#sales1 section{
    display: inline;

}