
* {
    box-sizing: border-box;
}

header {
    background-color:#80F0D4;
}

h1{
font-weight: bold;
font-size: 80px;
font-family: cursive;
position: relative;
left: 25px;
top: 5px;
}

header nav {
    padding-top: 30px;
    
}
nav ul li  {
    padding: 8px;
    display: inline;
    float: right;
    
}

nav ul li a {
    text-decoration: none;
    color:#A38E4E;
    text-transform: uppercase;
    font-size: 30px;
    margin: 40px;
    bottom: 70px;
    position: relative;
    font-family: cursive;
    right: 10px;
    will-change: auto;
}

#fh2{
    text-align: center;
    font-family: cursive;
    color: #94a3df;
    height: 23px;
position: relative;
    font-size: 40px;
    left: 300px;
  
}

.sh2{
    font-size: 40px;
    position: relative;
    bottom: 180px;
    text-align: center;
    font-family: cursive;
    background-color: #E09BC3;
    padding: 50px;
}

#sh3{
    font-size: 40px;
    position: relative;
    top: 80px;
    text-align: center;
    font-family: cursive;
    background-color: #E0D26E;
    padding: 40px;
}

#sh4{
    font-size: 40px;
    position: relative;
    bottom: 180px;
    text-align: center;
    font-family: cursive;
}


main p{
    font-size: 25px;
    text-align: justify;
    line-height: 1.5;
    position: relative;
bottom: 160px;
}

#th2{
    font-size: 40px;
    position: relative;
    text-align: center;
    font-family: cursive;
    top: 150px;
    background-color: #E730F0;

}

.last { 
text-align: center;
background-color:  #B5EAD7;
position: relative;
top: 300px;
}

#ourstory{

    position: relative;
    top: 200px;
}

#salesh2{
    text-align: center;
    position: relative;
    left: 300px;
    font-size: 40px;
    font-weight: bold;
    font-family: cursive;
    top: 40px;
}

#parent{
    position: relative;
    top: 80px;
    left: 300px;
}

#salescity{
    position: relative;
    top: 10px;
}

table , th , td {
    border: 2px solid purple;
}
 